html {
  scroll-behavior: smooth;
}
body {
  font-size: 20px;
  background-color: #c5cace;
  margin: 0;
  /* font-family: 'Comfortaa', cursive; */
}

.video,
.discover {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;
}
.video-media,
.discover-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.header,
.info-disco {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}
.header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.info-disco:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 45%;
  left: 0;
  z-index: 3;
  text-transform: uppercase;
  color: white;
}
.text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  text-transform: uppercase;
  color: white;
}
nav {
  width: 100%;
  height: 80px;
  max-height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: absolute; */
  /* left: 10%;
  top: 10%; */
  color: white;
  z-index: 4;
  font-size: 24px;
  background-color: hwb(0 5% 95% / 0.187);
}
.nav-name {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-name:hover span {
  filter: blur(2px);
}
.nav-name span:hover {
  filter: blur(0px);
  color: #282727;
}
.search__input {
  width: 0;
  transform: 0.5s;
}
.search__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: color 0.25s;
}
.search__button:hover {
  color: rgba(0, 0, 255, 0.74);
}
.search:focus-within input {
  width: 160px;
}

.search {
  display: inline-flex;

  background: linear-gradient(194deg, #424142, #f8f5f8);
  color: #fff;
  padding: 10px;
  border-radius: 40px;
}
.search :is(input, button) {
  color: inherit;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}

h1:hover {
  text-shadow: rgba(245, 245, 243, 0.798) 1px 0 10px;
}
.ico {
  filter: brightness(0) invert(1);
}
a {
  color: inherit;
  text-decoration: none;
}
.recomend {
  margin-top: 50px;
  margin-left: 5%;
  width: 90%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 5%;
}
.photo-greece {
  background-image: url(https://images.pexels.com/photos/3264723/pexels-photo-3264723.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
}
.info-greece,
.info-corfu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.photo-corfu {
  background-image: url(https://images.pexels.com/photos/15566155/pexels-photo-15566155.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
}

.more-info {
  width: 70px;
  height: 70px;
  border: 0;
  background-color: rgba(9, 9, 9, 0.676);
  color: white;
  border-radius: 50%;
  margin-top: 5%;
}
.but {
  text-align: center;
}
.more-info:hover {
  background-color: rgba(9, 9, 9, 0.224);
  color: black;
}

#disco {
  /* width: 100%;
  margin-bottom: 10%; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  text-transform: uppercase;
  color: white;
}
.info-disco {
  margin-top: 100px;
}
.dates {
  margin: 50px auto;
  width: 90%;
  max-width: 1100px;
  height: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100px 500px;
}
.dates-photo {
  background-image: url(https://images.pexels.com/photos/15844084/pexels-photo-15844084.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 10%;
  z-index: 2;
}
.Guaranteed {
  grid-column-end: span 2;
  text-align: center;
}
.dates-text {
 
  background-color: rgba(0, 0, 0, 0.338);
  z-index: 1;
  margin-right: 10%;
  padding: 5% 5% 5% 15%;
  color: white;
  width: 80%;
  height: auto;
}
.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
fieldset {
  margin-top: 10%;
  width: 50vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.142);
}
fieldset:hover {
  background-color: rgba(195, 195, 195, 0.669);
  border: 2px solid white;
  box-shadow: #fff 0 0 90px;
}
legend {
  text-align: center;
}
.book-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.book-input {
  border: none;
  outline: none;

  height: 30px;
}
.book-input:hover {
  box-shadow: #0a0a0a 0 0 10px;
  border: 1px solid #0a0a0a8f;
}
.book-but {
  border: none;
  width: 50px;
  height: 30px;
}
.book-but:hover {
  background-color: #0a0a0a9b;
  color: #ffffff;
}
footer {
  margin-top: 10%;
  min-height: 150px;
  max-height: 300px;
  background: linear-gradient(#c5cace, #624f34);
  color: #0000006e;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.see-you {
  text-align: center;
}
.contact {
  font-size: 18px;
  width: 60%;
  display: inline-flex;

  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  nav {
    background: none;
    position: absolute;
    top: 2%;
    left: 0;
  }
  .nav-name {
    display: none;
  }
  .recomend {
    max-height: 220px;
  }
  .header-text {
    font-size: 10px;
  }
  .more-info {
    width: 50px;
    height: 50px;
  }
  span {
    display: none;
  }

  body {
    font-size: 16px;
  }
  #Diverse {
    font-size: 9px;
    text-align: center;
  }

  .dates-text {
    font-size: 12px;
  }
  footer {
    flex-direction: column;
  }
  .contact {
    display: block;
    text-align: center;
  }
  .dates {
    grid-template-rows: 100px 1fr;
  }
}
@media screen and (max-width: 1100px) {
  fieldset {
    flex-direction: column;
    width: 30vw;
    height: auto;
  }
  .book-form {
    gap: 5%;
  }
  .book-input {
    margin: 5% 25%;
  }
}
